.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-container {
  width: 300px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

#search {
  width: 300px;
}

.search-inner {
  display: flex;
}
